<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header( title = 'Trabajadores')}"></head>
<body>
<main>
    <div class="container px-4 pb-5">
        <h1 class="pb-2 border-bottom">Lista de empleados</h1>
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Cargo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="trabajadores, info : ${listaEmpleados}">
                <td th:text="${info.index + 1}"></td>
                <td th:text="${trabajadores.nombre}"></td>
                <td th:text="${trabajadores.cargo}"></td>
            </tr>
            </tbody>
        </table>
        <hr/>
    </div>
</main>
</body>
</html>
